@page "/ContactUs"
<p class="mb-3 fw-light fst-italic">
	Last updated on Dec 19th 2023
</p>
<hr/>
<div class="mb-4">
	<p>You may contact us using the information below:</p>
	<br />
	<p>Merchant Legal entity name: Maa Sayari Enterprises</p>
	<p>Registered Address: Khasra No. 857, Barna Road, Bilara Jodhpur RAJASTHAN 342602</p>
	<p>Operational Address: Khasra No. 857, Barna Road, Bilara Jodhpur RAJASTHAN 342602</p>
	<p>Telephone No:</p>
	<p>E-Mail ID:</p>
</div>


@code {

}
