<hr />
<div class="nav-item px-3">
    <NavLink class="nav-link" href="PrivacyPolicy">
        <span class="fas fa-legal" aria-hidden="true"></span>&nbsp;Privacy Policy
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="TermsConditions">
        <span class="fas fa-legal" aria-hidden="true"></span>&nbsp;Terms and Conditions
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="CancellationPolicy">
        <span class="fas fa-legal" aria-hidden="true"></span>&nbsp;Cancellation and Refund Policy
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="ShippingPolicy">
        <span class="fas fa-legal" aria-hidden="true"></span>&nbsp;Shipping and Delivery Policy
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="Contact Us">
        <span class="fas fa-legal" aria-hidden="true"></span>&nbsp;Contact Us
    </NavLink>
</div>

@code {

}
