<NavLink class="nav-link" href="Accounts">
    <span class="fas fa-user"></span>&nbsp;My Account
</NavLink>
<NavLink class="nav-link" href="Orders">
    <span class="fas fa-clipboard-list"></span>&nbsp;My Orders
</NavLink>
<NavLink class="nav-link" href="Orders">
    <span class="fas fa-map-location-dot"></span>&nbsp;My Addresses
</NavLink>

@code {

}
